[*.cs]

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = silent

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0065: Misplaced using directive
dotnet_diagnostic.IDE0065.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none
