<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="LogDirectory" value="${basedir}/logs" />
	<targets>
		<target name="file" xsi:type="File">
			<fileName>${LogDirectory}/${date:format=yyyy-MM-dd}.log</fileName>
			<layout xsi:type="SimpleLayout">
				<text>[${date:format=yyyy/MM/dd HH\:mm\:ss.fff}] ${level:padding=-5} [${threadid}] ${message}${onexception:inner=${newline}${exception:format=tostring:maxInnerExceptionLevel=10:innerExceptionSeparator=Inner exception\:}} (${logger})</text>
			</layout>
		</target>
		<!--<target name="console" xsi:type="Console" layout="${message}${onexception:inner=${newline}${exception:format=message:maxInnerExceptionLevel=0:innerExceptionSeparator=&#xD;&#xA;Inner exception\:&#xD;&#xA;}}" />-->
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>