<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="logfile" fileName="logs/log.txt" layout="${longdate} ${level:uppercase=true} ${message}" />
		<target xsi:type="Console" name="logconsole" layout="${longdate} ${level:uppercase=true} ${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logconsole,logfile" />
	</rules>
</nlog>