<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="LogDirectory" value="${basedir}/logs" />
    <targets>
      <target name="file" xsi:type="File">
        <fileName>${LogDirectory}/${date:format=yyyy-MM-dd}.log</fileName>
        <layout xsi:type="SimpleLayout">
          <text>[${date:format=yyyy/MM/dd HH\:mm\:ss.fff}] ${level:padding=-5} [${threadid}] ${message}${onexception:inner=${newline}${exception:format=tostring:maxInnerExceptionLevel=10:innerExceptionSeparator=Inner exception\:}} (${logger})</text>
        </layout>
      </target>
      <!--<target name="console" xsi:type="Console" layout="${message}${onexception:inner=${newline}${exception:format=message:maxInnerExceptionLevel=0:innerExceptionSeparator=&#xD;&#xA;Inner exception\:&#xD;&#xA;}}" />-->
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.40.0.0" newVersion="1.40.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
